<div class="home-header">
    <h1>Veja o que estão pensando no <span>Toughts!</span></h1>
    <p>Busque por um termo que queira ver nos pensamentos</p>

    <form action="/" method="GET">
        <input type="text" name="search" placeholder="Buscar..." value="{{search}}">
        <input type="submit" value="Buscar" class="btn">
    </form>
</div>

<div class="order-container">
    <span>Ordenar por:</span>
    <form action="/" method="GET">
        <input type="hidden" name="search" value="{{search}}">

        <button type="submit" name="order" value="new">
            Mais novos <i class="bi bi-arrow-down-short"></i>
        </button>

        <button type="submit" name="order" value="old">
            Mais antigos <i class="bi bi-arrow-up-short"></i>
        </button>
    </form>

    {{#if search}}
    <a href="/">Limpar busca</a>
    {{/if}}
</div>

<div class="toughts-container">
    {{#if toughtsQty}}
    {{#each toughts}}
    <figure>
        <blockquote>"{{title}}"</blockquote>
        <p>
            <span>{{User.name}}</span> em {{formatDate createdAt}}
        </p>
    </figure>
    {{/each}}
    {{else}}
    <p>Ainda não há pensamentos cadastrados!</p>
    {{#if search}}
    <p>Não foram encontrados resultados para: "{{search}}"</p>
    {{/if}}
    {{/if}}
</div>

{{#pagination
totalPages=totalPages
currentPage=currentPage
search=search
currentOrder=currentOrder
}}
{{#if pages}}
<div class="pagination-container">
    {{#if prevUrl}}
    <a href="{{prevUrl}}" class="page-link page-arrow">&laquo;</a>
    {{else}}
    <span class="page-link page-arrow disabled">&laquo;</span>
    {{/if}}
    {{#each pages}}
    {{#if isEllipsis}}
    <span class="page-link ellipsis">{{page}}</span>
    {{else}}
    <a href="{{url}}" class="page-link page-number {{#if isCurrent}}active{{/if}}">
        {{page}}
    </a>
    {{/if}}
    {{/each}}
    {{#if nextUrl}}
    <a href="{{nextUrl}}" class="page-link page-arrow">&raquo;</a>
    {{else}}
    <span class="page-link page-arrow disabled">&laquo;</span>
    {{/if}}
</div>
{{/if}}
{{/pagination}}